.wrapper{
    width: 90%;
    height: 500px;
    margin: 30px auto 0 auto;
    background-color: black;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}


@media (max-width: 768px) {
    .wrapper{
        margin: 600px auto 0 auto;
    }
}


@media (max-width: 720px) {
    .wrapper{
        margin: 550px auto 0 auto;
    }
}

@media (max-width: 650px) {
    .wrapper{
        margin: 520px auto 0 auto;
    }
}


@media (max-width: 600px) {
    .wrapper{
        margin: 470px auto 0 auto;
    }
}


@media (max-width: 530px) {
    .wrapper{
        margin: 430px auto 0 auto;
    }
}


@media (max-width: 470px) {
    .wrapper{
        margin: 390px auto 0 auto;
    }
}


@media (max-width: 400px) {
    .wrapper{
        margin: 350px auto 0 auto;
    }
}


@media (max-width: 350px) {
    .wrapper{
        margin: 320px auto 0 auto;
    }
}


@media (max-width: 300px) {
    .wrapper{
        margin: 290px auto 0 auto;
    }
}


@media (max-width: 250px) {
    .wrapper{
        margin: 260px auto 0 auto;
    }
}
