.wrapper{
    width: 90%;
    height: auto;
    margin: 160px auto 0 auto;
}


.name{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 20px;
}
.nameMobule{
    width: 100%;
    height: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 120px 0 10px 0;
}


.fotoTop{
    width: 100%;
    height: auto;
    display: flex; 
    justify-content: space-between;  
}
.chapter1, .chapter2{
    width: 48%;
    aspect-ratio: 1 / 1; 
}


.fotoBottom{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.chapter3, .chapter4, .chapter5{
    width: 30%;
    aspect-ratio: 3 / 4;
    margin-top: 30px;
}


.chapter1, .chapter2, .chapter3, .chapter4, .chapter5{
    background-size: cover;
    border: 3px solid transparent;
    text-decoration: none;
    position: relative;
}
.text, .text1, .text2, .text3{
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 25px;
    color: white;
}
.chapter1{
    background-image: url("https://i.pinimg.com/564x/19/90/9c/19909c7bcf73ac6049f5cf1c61558faf.jpg");
    border-top-left-radius: 30px;
    background-size: 105%;
    background-position-x: -5px;
    background-position-y: -5px;
}
.chapter2{
    background-image: url("https://i.pinimg.com/474x/78/79/5a/78795a7cb4aab4a09ddd397d5bc15133.jpg");
    border-top-right-radius: 30px;
    background-size: 105%;
    background-position-y: -5px;
}
.chapter3{
    background-image: url("https://i.pinimg.com/564x/d2/3b/7f/d23b7f19b43d3b5e7c10ca7986460858.jpg");
    border-bottom-left-radius: 30px;
    background-size: 105%;
}
.chapter4{
    background-image: url("https://i.pinimg.com/564x/10/2d/62/102d6298667c0ab5e59dfae50c5f5ae0.jpg");
    background-position-y: -5px;
}
.chapter5{
    background-image: url("https://i.pinimg.com/736x/de/8e/f8/de8ef8cfb3c4773227c49fbd1fe1445c.jpg");
    border-bottom-right-radius: 30px;
    background-size: 105%;
    background-position-y: -50px;
    background-position-x: 5px;
}
.chapter1:hover,
.chapter2:hover,
.chapter3:hover,
.chapter4:hover,
.chapter5:hover{
    border: 3px solid white;
}


.wrapperMobule{
    width: 90%;
    height: auto;
    margin: 10px auto 0 auto;
    display: none;
    overflow-x: auto; /* Добавляем горизонтальный скролл */
    -webkit-overflow-scrolling: touch; /* Плавный скроллинг на iOS */
    scroll-snap-type: x mandatory; /* Активируем скролл-снэпинг (опционально) */
}

.MobuleChapter1, .MobuleChapter2, .MobuleChapter3, .MobuleChapter4, .MobuleChapter5{
    width: 70%;
    aspect-ratio: 1 / 1;
    flex: 0 0 auto;
    margin-right: 20px;
    background-size: cover;
    scroll-snap-align: start; /* Позиционирование при скроллинге (опционально) */
    border-radius: 30px;
    position: relative;
}
.textMobule{
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 25px;
    color: white;
}
.MobuleChapter1{
    background-image: url("/src/assets/mainMan/t-shirt.jpg");
}
.MobuleChapter2{
    background-image: url("/src/assets/mainMan/hoodie.jpg");
}
.MobuleChapter3{
    background-image: url("/src/assets/mainMan/jeans.jpg");
    background-position-y: -50px;
}
.MobuleChapter4{
    background-image: url("/src/assets/mainMan/jacket.jpg");
    background-position-y: -50px;
}
.MobuleChapter5{
    background-image: url("/src/assets/mainMan/Accessory.jpg");
    background-position-y: -100px;
}




@media (max-width: 1100px) {
    .wrapper{
        margin: 100px auto 0 auto;
    }
    .nameMobule{
        margin-top: 650px;
    }

    .chapter1, .chapter2{
        width: 47%;
    }
    .text1, .text2, .text3{
        position: absolute;
        right: 0px;
        bottom: 0px;
    }
}


@media (max-width: 768px) {
    .wrapper{
        display: none;
    }
    .wrapperMobule{
        display: flex;
    }
    .textMobule{
        right: 15px;
        bottom: 15px;
        font-size: 20px;
    }
    .name{
        display: none;
    }
    .nameMobule{
        display: flex;
    }
}

@media (max-width: 720px) {
    .nameMobule{
        margin-top: 610px;
    }
}


@media (max-width: 650px) {
    .nameMobule{
        margin-top: 580px;
    }
}


@media (max-width: 600px) {
    .nameMobule{
        margin-top: 530px;
    }
}


@media (max-width: 530px) {
    .nameMobule{
        margin-top: 490px;
    }
}


@media (max-width: 500px) {
    .MobuleChapter5{
        background-position-y: -50px;
    }
    .nameMobule{
        font-size: 25px;
    }
}


@media (max-width: 470px) {
    .nameMobule{
        margin-top: 450px;
    }
}


@media (max-width: 400px) {
    .nameMobule{
        margin-top: 410px;
    }
}


@media (max-width: 350px) {
    .nameMobule{
        margin-top: 380px;
    }
}


@media (max-width: 300px) {
    .nameMobule{
        margin-top: 350px;
    }
}


@media (max-width: 250px) {
    .nameMobule{
        margin-top: 320px;
    }
}
