/* HorizontalScroll.module.css */
.container {
    display: flex;
    align-items: center;
  }
  
  .scrollContainer {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 300px; /* Установите нужную ширину */
  }
  
  .item {
    min-width: 100px; /* Ширина каждого элемента */
    margin: 0 10px; /* Отступы между элементами */
    background-color: #ccc; /* Фон элемента */
    padding: 20px;
    text-align: center;
    border-radius: 5px;
  }
  
  .scrollButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .scrollButton:disabled {
    background-color: #aaa;
  }
  