.windowBlock {
  width: 100%;
  height: 30%;
  min-height: 110px;
  overflow-y: auto;
  position: relative;
}

.topGradient {
  position: sticky; /* Чтобы верхний градиент был фиксированным */
  top: 0;
  left: 0;
  right: 0;
  height: 30px; /* Высота градиента */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)); /* Градиент от белого к прозрачному */
  pointer-events: none; /* Чтобы градиент не мешал взаимодействию с контентом */
  z-index: 1; /* Делаем верхний градиент выше содержимого */
}

.scrollGradient {
  height: 30px; /* Высота градиента */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); /* Градиент от прозрачного к белому */
  pointer-events: none; /* Чтобы градиент не мешал взаимодействию с контентом */
}
