.wrapper{
    width: 90%;
    height: auto;
    margin: 180px auto 0 auto;
}


.name{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.items{
    width: 100%;
    height: auto;
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
}
.item1, .item2, .item3, .item4, .item5{
    width: 300px;
    aspect-ratio: 3 / 4;
    margin-right: 10px;
    flex: 0 0 auto;
    scroll-snap-align: start;
    border-radius: 30px;
    position: relative;
}
.text{
    position: absolute;
    bottom: 5px;
    right: 15px;
    font-size: 25px;
    color: white;
}
.item1{
    background-image: url("https://i.pinimg.com/474x/e7/c5/92/e7c59217781be4c3fb51d15b740cd909.jpg");
    background-size: cover;
    background-position-y: -10px;
}
.item2{
    background-image: url("https://i.pinimg.com/474x/f4/83/d7/f483d707e19d819fa2e40747b9d3330d.jpg");
    background-size: cover;
}
.item3{
    background-image: url("https://i.pinimg.com/474x/8e/ec/64/8eec6466d3d32af842dac061d1d59a59.jpg");
    background-size: cover;
    background-position-y: -20px;
}
.item4{
    background-image: url("https://i.pinimg.com/474x/c5/f6/b2/c5f6b2faa3430e06f2264ee4f411f09d.jpg");
    background-size: cover;
}
.item5{
    background-image: url("https://i.pinimg.com/736x/ab/7a/19/ab7a19a393fbc829b09f54a206d89f82.jpg");
    background-size: cover;
    background-size: 150%;
    background-position: center;
}




@media (max-width: 1100px) {
    .wrapper{
        margin: 120px auto 0 auto;
    }
}


@media (max-width: 1400px) {
    .item1, .item2, .item3, .item4, .item5{
        width: 330px;
    }
}


@media (max-width: 1150px) {
    .item1, .item2, .item3, .item4, .item5{
        width: 300px;
    }
}


@media (max-width: 1050px) {
    .item1, .item2, .item3, .item4, .item5{
        width: 350px;
    }
}


@media (max-width: 830px) {
    .item1, .item2, .item3, .item4, .item5{
        width: 300px;
    }
}



@media (max-width: 768px) {
    .wrapper{
        width: 100%;
    }
}


@media (max-width: 650px) {
    .item1, .item2, .item3, .item4, .item5{
        width: 270px;
    }
}


@media (max-width: 590px) {
    .item1, .item2, .item3, .item4, .item5{
        width: 350px;
    }
}


@media (max-width: 380px) {
    .item1, .item2, .item3, .item4, .item5{
        width: 100%;
    }
}