.wrapper{
    width: 300px;
    height: auto;
    background-color: #4b4b4b;
    margin: 20px 10px 0 10px;
    border-radius: 30px;
    position: relative;
    transition-duration: 1s;
}
.foto{
    width: 100%;
    aspect-ratio: 3 / 4;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}


.box{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.boxPrice{
    width: 50%;
    padding-left: 20px;
    color: white;
    flex: 1;
}


.order{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background: linear-gradient(to right, #28a745, #8bc34a);
    color: white;
}
.orderBtn{
    display: flex;
    justify-content: center;
    margin-right: 5px;
}


.info{
    display: none;
    pointer-events: none;
}





@media (max-width: 1070px) {
    .wrapper{
        width: 250px;
        margin: 20px 5px 0 5px;
    }
}

@media (max-width: 870px) {
    .wrapper{
        width: 300px;
    }
}

@media (max-width: 650px) {
    .wrapper{
        width: 45%;
    }
}

