.name{
    width: 90%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding-top: 20px;
}

.wrapperBtns{
    width: 90%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapperMan, .wrapperWom, .wrapperManBlue, .wrapperWomPink{
    width: 45%;
    height: 100%;
    border-radius: 30px;
    font-size: 20px;
    color: white;
    border: none;
}
.wrapperWom{
    background-color: #4B4B4B;
}
.wrapperWomPink{
    background-color: #FF69B4;
}
.wrapperMan{
    background-color: #4B4B4B;
}
.wrapperManBlue{
    background-color: #2626B9;
}



.wrapperBox{
    position: relative;
}


.wrapperBoxMan, .wrapperBoxManNotVis{
    width: 90%;
    height: auto;
    margin: 20px auto 0 auto;
    position: relative;
    transition-duration: 1000ms;
}
.wrapperBoxManNotVis{
    transform: scale(0.5);
    pointer-events: none;
    opacity: 0;
}

.arrowLeft, .arrowRight{
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255, 0.3);
    color: black;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 50%;
}
.arrowLeft{
    left: 10px;
}
.arrowRight{
    right: 10px;
}

.wrapperDepart{
    width: 100%;
    height: auto;
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
}

.manDepart1, .manDepart2, .manDepart3, .manDepart4, .manDepart5, .manDepart6, .manDepart7{
    width: 300px;
    aspect-ratio: 3 / 4;
    flex: 0 0 auto;
    margin-right: 10px;
    scroll-snap-align: start;
    border-radius: 30px;
}

.manDepart1{
    background-image: url("/src/assets/Accessories/itemMan1.jpg");
    background-size: cover;
}
.manDepart2{
    background-image: url("/src/assets/Accessories/itemMan2.jpg");
    background-size: cover;
}
.manDepart3{
    background-image: url("/src/assets/Accessories/itemMan3.jpg");
    background-size: cover;
}
.manDepart4{
    background-image: url("/src/assets/Accessories/itemMan4.jpg");
    background-size: cover;
}
.manDepart5{
    background-image: url("/src/assets/Accessories/itemMan5.jpg");
    background-size: cover;
}
.manDepart6{
    background-image: url("/src/assets/Accessories/itemMan6.jpg");
    background-size: cover;
}
.manDepart7{
    background-image: url("/src/assets/Accessories/itemMan7.jpg");
    background-size: cover;
}



.wrapperBoxWom, .wrapperBoxWomNotVis{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transition-duration: 1000ms;
}
.wrapperBoxWomNotVis{
    transform: scale(0.5);
    pointer-events: none;
    opacity: 0;
}

.wrapperBoxWomCont{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.wrapperDepartWom{
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
}
.womDepart1, .womDepart2, .womDepart3, .womDepart4, .womDepart5, .womDepart6, .womDepart7{
    width: 300px;
    aspect-ratio: 3 / 4;
    flex: 0 0 auto;
    margin-right: 10px;
    scroll-snap-align: start;
    border-radius: 30px;
}

.womDepart1{
    background-image: url("/src/assets/Accessories/itemWom1.jpg");
    background-size: cover;
}
.womDepart2{
    background-image: url("/src/assets/Accessories/itemWom2.jpg");
    background-size: cover;
}
.womDepart3{
    background-image: url("/src/assets/Accessories/itemWom3.jpg");
    background-size: cover;
}
.womDepart4{
    background-image: url("/src/assets/Accessories/itemWom4.jpg");
    background-size: cover;
}
.womDepart5{
    background-image: url("/src/assets/Accessories/itemWom5.jpg");
    background-size: cover;
}
.womDepart6{
    background-image: url("/src/assets/Accessories/itemWom6.jpg");
    background-size: cover;
}
.womDepart7{
    background-image: url("/src/assets/Accessories/itemWom7.jpg");
    background-size: cover;
}


.wrapperDepartWom, .wrapperDepart{
    z-index: 0;
}





@media (max-width: 768px) {
    .wrapperBtns{
        height: 40px;
    }
}

@media (max-width: 500px) {
    .manDepart1, .manDepart2, .manDepart3, .manDepart4, .manDepart5, .manDepart6, .manDepart7, .womDepart1, .womDepart2, .womDepart3, .womDepart4, .womDepart5, .womDepart6, .womDepart7{
        width: 250px;
    }
}

@media (max-width: 400px) {
    .wrapperMan, .wrapperWom, .wrapperManBlue, .wrapperWomPink{
        width: 48%;
    }
}

@media (max-width: 350px) {
    .manDepart1, .manDepart2, .manDepart3, .manDepart4, .manDepart5, .manDepart6, .manDepart7, .wrapperBoxMan, .wrapperBoxManNotVis{
        width: 100%;
    }
    .womDepart1, .womDepart2, .womDepart3, .womDepart4, .womDepart5, .womDepart6, .womDepart7, .wrapperBoxWomCont{
        width: 100%;
    }
}

@media (max-width: 270px) {
    .wrapperMan, .wrapperWom, .wrapperManBlue, .wrapperWomPink{
        font-size: 18px;
    }
}