.wrapper{
    width: 90%;
    height: auto;
    margin: 30px auto 0 auto;
}


.name{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


.btns{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
}
.manBlue, .manGrey, .womPink, .womGrey{
    width: 40%;
    height: 100%;
    font-size: 20px;
    color: white;
    border: 0;
    border-radius: 30px;
    transition-duration: 0.5s;
}
.manBlue{
    background-color: #2626B9;
}
.manGrey{
    background-color: #4B4B4B;
}
.womPink{
    background-color: #FF69B4;
}
.womGrey{
    background-color: #4B4B4B;
}


.manVis{
    width: 100%;
    height: auto;
    margin: 10px auto 0 auto;
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    opacity: 1;              /* Блок становится полностью видимым */
    transform: scale(1);     /* Блок возвращается к своему нормальному размеру */
    transition: opacity 1s ease, transform 1s ease; /* Плавный переход */
    position: relative;      /* Блок занимает своё обычное место */
}
.manNotVis{
    width: 100%;
    height: auto;
    margin: 10px auto 0 auto;
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    opacity: 0;              /* Блок становится прозрачным */
    transform: scale(0.7);  /* Блок немного уменьшается */
    transition: opacity 1s ease, transform 1s ease; /* Плавный переход */
    position: absolute;      /* Блок не занимает место в потоке */ 
    pointer-events: none; /* Отключает взаимодействие с этим блоком */
}


.womVis{
    width: 100%;
    height: auto;
    margin: 10px auto 0 auto;
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;

    opacity: 1;              /* Блок становится полностью видимым */
    transform: scale(1);     /* Блок возвращается к своему нормальному размеру */
    transition: opacity 1s ease, transform 1s ease; /* Плавный переход */
    position: relative;      /* Блок занимает своё обычное место */
}
.womNotVis{
    width: 100%;
    height: auto;
    margin: 10px auto 0 auto;
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;

    opacity: 0;              /* Блок становится прозрачным */
    transform: scale(0);  /* Блок немного уменьшается */
    transition: opacity 1s ease, transform 1s ease; /* Плавный переход */
    position: absolute;      /* Блок не занимает место в потоке */ 
    pointer-events: none; /* Отключает взаимодействие с этим блоком */
    top: 0;
}


.wrapperMan, .wrapperWom{
    position: relative;
}
.arrowRight, .arrowLeft{
    width: 50px;
    height: 50px;
    background-image: url("https://i.pinimg.com/564x/e4/fd/af/e4fdaf86d3189073c522d510004a422e.jpg");
    background-size: cover;
    opacity: 0.5;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    z-index: 1;
}
.arrowLeft {
    transform: rotate(180deg);
    left: 10px;
  }
.arrowRight {
    right: 10px;
}



.manDepart1, .manDepart2, .manDepart3, .manDepart4, .manDepart5, .manDepart6, .manDepart7, .womDepart1, .womDepart2, .womDepart3, .womDepart4, .womDepart5, .womDepart6, .womDepart7{
    width: 300px;
    aspect-ratio: 3 / 4;
    margin-right: 10px;
    flex: 0 0 auto;
    scroll-snap-align: start;
    position: relative;
    border-radius: 30px;
}
.manDepart1{
    background-image: url("/src/assets/Accessories/itemMan1.jpg");
    background-size: cover;
}
.manDepart2{
    background-image: url("/src/assets/Accessories/itemMan2.jpg");
    background-size: cover;
}
.manDepart3{
    background-image: url("/src/assets/Accessories/itemMan3.jpg");
    background-size: cover;
}
.manDepart4{
    background-image: url("/src/assets/Accessories/itemMan4.jpg");
    background-size: cover;
}
.manDepart5{
    background-image: url("/src/assets/Accessories/itemMan5.jpg");
    background-size: cover;
}
.manDepart6{
    background-image: url("/src/assets/Accessories/itemMan6.jpg");
    background-size: cover;
}
.manDepart7{
    background-image: url("/src/assets/Accessories/itemMan7.jpg");
    background-size: cover;
}
.womDepart1{
    background-image: url("/src/assets/Accessories/itemWom1.jpg");
    background-size: cover;
}
.womDepart2{
    background-image: url("/src/assets/Accessories/itemWom2.jpg");
    background-size: cover;
}
.womDepart3{
    background-image: url("/src/assets/Accessories/itemWom3.jpg");
    background-size: cover;
}
.womDepart4{
    background-image: url("/src/assets/Accessories/itemWom4.jpg");
    background-size: cover;
}
.womDepart5{
    background-image: url("/src/assets/Accessories/itemWom5.jpg");
    background-size: cover;
}
.womDepart6{
    background-image: url("/src/assets/Accessories/itemWom6.jpg");
    background-size: cover;
}
.womDepart7{
    background-image: url("/src/assets/Accessories/itemWom7.jpg");
    background-size: cover;
}





@media (max-width: 1400px) {
    .manDepart1, .manDepart2, .manDepart3, .manDepart4, .manDepart5, .manDepart6, .manDepart7, .womDepart1, .womDepart2, .womDepart3, .womDepart4, .womDepart5, .womDepart6, .womDepart7{
        width: 330px;
    }
}


@media (max-width: 1150px) {
    .manDepart1, .manDepart2, .manDepart3, .manDepart4, .manDepart5, .manDepart6, .manDepart7, .womDepart1, .womDepart2, .womDepart3, .womDepart4, .womDepart5, .womDepart6, .womDepart7{
        width: 300px;
    }
}


@media (max-width: 1050px) {
    .manDepart1, .manDepart2, .manDepart3, .manDepart4, .manDepart5, .manDepart6, .manDepart7, .womDepart1, .womDepart2, .womDepart3, .womDepart4, .womDepart5, .womDepart6, .womDepart7{
        width: 350px;
    }
}


@media (max-width: 830px) {
    .manDepart1, .manDepart2, .manDepart3, .manDepart4, .manDepart5, .manDepart6, .manDepart7, .womDepart1, .womDepart2, .womDepart3, .womDepart4, .womDepart5, .womDepart6, .womDepart7{
        width: 300px;
    }
}



@media (max-width: 768px) {
    .wrapper{
        width: 100%;
    }
}


@media (max-width: 650px) {
    .manDepart1, .manDepart2, .manDepart3, .manDepart4, .manDepart5, .manDepart6, .manDepart7, .womDepart1, .womDepart2, .womDepart3, .womDepart4, .womDepart5, .womDepart6, .womDepart7{
        width: 270px;
    }
}


@media (max-width: 590px) {
    .manDepart1, .manDepart2, .manDepart3, .manDepart4, .manDepart5, .manDepart6, .manDepart7, .womDepart1, .womDepart2, .womDepart3, .womDepart4, .womDepart5, .womDepart6, .womDepart7{
        width: 350px;
    }
}


@media (max-width: 380px) {
    .manDepart1, .manDepart2, .manDepart3, .manDepart4, .manDepart5, .manDepart6, .manDepart7, .womDepart1, .womDepart2, .womDepart3, .womDepart4, .womDepart5, .womDepart6, .womDepart7{
        width: 100%;
    }
    .arrowRight, .arrowLeft{
        width: 40px;
        height: 40px;
    }
}