.wrapper{
    width: 90%;
    height: auto;
    margin: 180px auto 0 auto;
}


.fotoTop{
    width: 100%;
    height: auto;
    display: flex; 
    justify-content: space-between;  
}
.chapter1, .chapter2{
    width: 48%;
    aspect-ratio: 1 / 1; 
}


.fotoBottom{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.chapter3, .chapter4, .chapter5{
    width: 30%;
    aspect-ratio: 3 / 4;
    margin-top: 30px;
}


.chapter1, .chapter2, .chapter3, .chapter4, .chapter5{
    background-size: cover;
    border: 3px solid transparent;

}
.chapter1{
    background-image: url("/src/assets/mainMan/ t-shirt .jpg");
    border-top-left-radius: 30px;
}
.chapter2{
    background-image: url("/src/assets/mainMan/hoodie.jpg");
    border-top-right-radius: 30px;
}
.chapter3{
    background-image: url("/src/assets/mainMan/jeans.jpg");
    border-bottom-left-radius: 30px;
}
.chapter4{
    background-image: url("/src/assets/mainMan/jacket.jpg");
}
.chapter5{
    background-image: url("/src/assets/mainMan/Accessory.jpg");
    border-bottom-right-radius: 30px;
}
.chapter1:hover,
.chapter2:hover,
.chapter3:hover,
.chapter4:hover,
.chapter5:hover{
    border: 3px solid white;
}




@media (max-width: 1100px) {
    .wrapper{
        margin: 120px auto 0 auto;
    }

    .chapter1, .chapter2{
        width: 47%;
    }
}


@media (max-width: 768px) {
    .fotoTop{
        flex-direction: column;
        justify-content: space-between;  
    }
    .chapter1, .chapter2{
        width: 100%;
        aspect-ratio: 1 / 1; 
        border-radius: 30px;
    }
    .chapter2{
        margin-top: 30px;
    }
}
