.wrapper{
    width: 90%;
    height: auto;
    margin: 180px auto 0 auto;
}


.fotoTop{
    width: 100%;
    height: auto;
    display: flex; 
    justify-content: space-between;  
}
.chapter1, .chapter2{
    width: 49%;
    aspect-ratio: 1 / 1; 
}


.fotoBottom{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.chapter3, .chapter4, .chapter5{
    width: 30%;
    aspect-ratio: 3 / 4;
    margin-top: 30px;
}


.chapter1{
    background-image: url("https://i.pinimg.com/474x/0e/aa/50/0eaa50287a975a60a09a37441ef466a7.jpg");
    background-size: cover;
}
.chapter2{
    background-image: url("https://i.pinimg.com/474x/60/82/45/6082459f22b2df0af368816969ce0d96.jpg");
    background-size: cover;
}
.chapter3{
    background-image: url("https://i.pinimg.com/474x/21/fd/ee/21fdee83f786d824d918212ce18c2f85.jpg");
    background-size: cover;
}
.chapter4{
    background-image: url("https://i.pinimg.com/474x/49/38/d0/4938d0b3bbaca64ac923cced060e11aa.jpg");
    background-size: cover;
}
.chapter5{
    background-image: url("https://i.pinimg.com/474x/59/21/8c/59218ca8a6bd2585d01c975000b38e1b.jpg");
    background-size: cover;
}



