.wrapper{
    width: 90%;
    height: 150px;
    margin: 0 auto;
    background-color: black;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}


.box{
    width: 90%;
    height: 90px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


.name{
    color: white;
    font-size: 40px;
}

.boxBtn{
    display: flex;
}
.btnMenu{
    width: 50px;
    height: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    border-radius: 10px;
    font-size: 35px;
    margin-left: 10px;
}
.btnWom{
    width: 50px;
    height: 50px;
    background-image: url("/src/assets/Signs/SignsWom.jpg");
    background-size: cover;
    border-radius: 10px;
    margin-left: 10px;
    display: none;
}
.btnMan{
    width: 50px;
    height: 50px;
    background-image: url("/src/assets/Signs/SignsMan.jpg");
    background-size: cover;
    border-radius: 10px;
    margin-left: 10px;
    display: none;
}


.menu{
    width: 100%;
    height: 40%;
    background-color: rgb(75, 75, 75);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: absolute;
    bottom: 0;
    display: flex;
}


.leftBox{
    width: 80%;
    height: 100%;
    display: flex;
}
.rightBox{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}


.leftBtn, .CenterBtn, .leftBtnBlue, .CenterBtnPink{
    width: 25%;
    height: 100%;
    font-size: 20px;
    border: none;
    background-color: rgb(75, 75, 75);
    color: white;
    transition-duration: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.leftBtn, .CenterBtn{
    font-size: 22px;
}
.leftBtnBlue{
    font-size: 22px;
    background-color: #2626b9;
    border-bottom-left-radius: 30px;
}
.CenterBtnPink{
    background-color: #FF69B4;
    font-size: 22px;
}
.leftBtn{
    border-bottom-left-radius: 30px;
}
.leftBtn:hover, 
.CenterBtn:hover{
    background-color: rgb(111, 111, 111);
}
.CenterBtn{
    position: relative;
}
.connectVis, .connectNotVis{
    position: absolute;
    width: 200%;
    height: auto;
    background-color: rgb(86, 86, 86);
    top: 100%;
    transition-duration: 1s;
    text-align: start;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.connectNotVis{
    top: -300px;
    opacity: 0;
    pointer-events: none;
}
.helpWindow{
    padding: 10px 5px 25px 25px;
}
.jobTitle{
    list-style-type: disc;
}
.email{
    list-style-type: none;
    margin: 0 0 15px 10px;
    color: #1183fc;
}


.vk, .inst, .tg, .youTube{
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    border: 2px solid transparent;
    transition-duration: 0.3s;
    background-size: cover;
}
.vk{
    background-image: url("/src/assets/socials/vk.jpg");
}
.inst{
    background-image: url("/src/assets/socials/inst.jpg");
    background-size: 160%;
    background-position: center;
}
.tg{
    background-image: url("/src/assets/socials/tg.jpg");
    background-size: 200%;
    background-position: center;
}
.youTube{
    background-image: url("/src/assets/socials/youTube.jpg");
    background-size: 200%;
    background-position: center;
}
.vk:hover,
.inst:hover,
.tg:hover,
.youTube:hover{
    border: 2px solid white;
}


.windowVisible{
    width: 400px;
    height: 90%;
    position: fixed;
    right: -410px;
    top: 50%;
    transform: translatey(-50%);
    background-color: #333333;
    z-index: 1;
    border-radius: 30px;
    transition-duration: 1s;
}
.windowNotVisible{
    width: 400px;
    height: 90%;
    position: fixed;
    right: 30px;
    top: 50%;
    transform: translatey(-50%);
    background-color: #333333;
    z-index: 2;
    border-radius: 30px;
    transition-duration: 1s;
}
.socials{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #4a4a4a;
}
.btnBoxVis, .btnBoxNotVis{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    transition-duration: 1s;
}
.btnBoxNotVis{
    top: -700px;
    transition-duration: 1s;
    opacity: 0;
    pointer-events: none;
}
.infoVis, .infoNotVis{
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    transition-duration: 1s;
}
.infoNotVis{
    position: absolute;
    top: 700px;
    pointer-events: none;
    opacity: 0;
}
.infoVisWindow{
    padding: 10px 5px 0 25px;
    font-size: 23px;
    color: white;
}
.infoVisWinEmail{
    list-style-type: none;
    margin: 0 0 15px 10px;
    color: #1183fc;
    display: flex;
}
.infoVisBack, .infoVisClose{
    width: 90%;
    height: 60px;
    font-size: 20px;
    border: none;
    background-color: #4a4a4a;
    color: white;
    border-radius: 30px;
    display: block;
    margin: 10px auto;
    transition-duration: 0.3s;
}
.infoVisClose{
    font-size: 23px;
}
.linker3{
    position: relative;
}


.chapter, .chapterBack{
    width: 90%;
    height: 70px;
    font-size: 20px;
    border: none;
    background-color: #4a4a4a;
    color: white;
    border-radius: 30px;
    display: block;
    margin: 30px auto;
    transition-duration: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
}
.chapterBack{
 margin-top: 50px; 
 font-size: 25px;  
}
.chapter:hover{
    background-color: rgb(111, 111, 111);
}


.mainMan{
    width: 100%;
    height: auto;
    position: absolute;
}


.departments{
    width: 100%;
    height: auto;
    margin-top: 30px;
    position: relative;
}


.departmentWomNotVis{
    width: 100%;
    height: 100%;
    position: absolute;
    top: -200%;
    transition-duration: 1s;
}
.departmentWomVis{
    width: 100%;
    height: 100%;
    position: absolute;
    transition-duration: 1s;
    top: 0;
}


.test{
    width: 90%;
    height: 500px;
    background-color: red;
}


.anchor{
    position: absolute;
    top: 500px;
    pointer-events: none;
}

html {
    scroll-behavior: smooth;
}


.helpVis, .helpNotVis{
    width: 400px;
    height: 90%;
    position: fixed;
    right: 30px;
    top: 50%;
    transform: translatey(-50%);
    background-color: #333333;
    z-index: 1;
    border-radius: 30px;
    transition-duration: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.helpNotVis{
    right: -85%;

}
.btnBack{
    width: 90%;
    height: 70px;
    background-color: #4a4a4a;
    color: white;
    font-size: 25px;
    margin: 10px auto;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 500ms;
}






@media (max-width: 1400px) {
    .leftBox{
        width: 75%;
    }
    .rightBox{
        width: 25%;
    }
}


@media (max-width: 1100px) {
    .menu{
        display: none;
    }
    .btnMenu h1{
        display: flex;
    }
    .wrapper{
        height: 90px;
    }
    .btnMenu{
        display: flex;
    }
    .box{
        height: 100%;
        justify-content: space-between;
    }
    .btnWom{
        display: flex;
    }
    .btnMan{
        display: flex;
    }
}


@media (max-width: 768px) {
    .wrapper{
        width: 100%;
    }
    .windowNotVisible, .helpVis{
        width: 85%;
    }
    .helpVis, .helpNotVis{
        transition-duration: 1.5s;
    }
    .btnWom{
        display: none;
    }
    .btnMan{
        display: none;
    }
    .departmentWomNotVis{
        top: 0;
        position: static;
    }
}


@media (max-width: 500px) {
    .windowNotVisible, .helpVis{
        right: -1px;
    }
    .name{
        font-size: 35px;
    }
    .helpNotVis{
        right: -100%;
    }
}


@media (max-width: 400px) {
    .name{
        font-size: 30px;
    }
    .btnMenu{
        width: 45px;
        height: 45px;
    }
    .helpNotVis{
        right: -120%;
    }
}


@media (max-width: 360px) {
    .infoVisWinEmail{
        display: block;
    }
}


@media (max-width: 350px) {
    .helpNotVis{
        right: -150%;
    }
    .btnBack{
        font-size: 21px;
        height: 50px;
    }
}


@media (max-width: 270px) {
    .helpNotVis{
        right: -180%;
    }
}



@media (max-height: 700px) {
    .chapter{
        margin: 20px auto;
        height: 60px;
    }
    .chapterBack{
        margin-top: 40px;
        height: 60px;
    }
}


@media (max-height: 650px) {
    .btnBack{
        height: 60px;
    }
}


@media (max-height: 600px) {
    .chapter{
        margin: 10px auto;
    }
    .chapterBack{
        margin-top: 20px;
    }
}


@media (max-height: 530px) {
    .chapter{
        height: 50px;

    }
    .chapterBack{
        height: 50px;
    }
}


@media (max-height: 470px) {
    .linker1, .linker2{
        display: flex;
    }
}


@media (max-height: 440px) {
    .infoVisLinker{
        display: flex;
    }
    .infoVisBack, .infoVisClose{
        height: 50px;
    }
}



@media (max-height: 380px) {
    .btnBack{
        height: 50px;
    }
}


@media (max-height: 360px) {
    .chapterBack{
        margin-top: 5px;
    }
    .socials{
        height: 70px;
    }
    .infoVisWinEmail{
        margin: 0 0 5px 10px;
    }
}


@media (max-height: 300px) {
    .chapter{
        margin: 3px auto;
    }
    .chapterBack{
        height: 40px;
    }
    .socials{
        height: 60px;
    }
}



