.wrapper{
    width: 90%;
    height: 150px;
    margin: 0 auto;
    background-color: black;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}


.box{
    width: 90%;
    height: 90px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


.name{
    color: white;
    font-size: 40px;
}


.btnMenu{
    width: 50px;
    height: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    border-radius: 10px;
    font-size: 35px;
}



.menu{
    width: 100%;
    height: 40%;
    background-color: rgb(75, 75, 75);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: absolute;
    bottom: 0;
    display: flex;
}


.leftBox{
    width: 80%;
    height: 100%;
}
.rightBox{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}


.leftBtn, .CenterBtn{
    width: 25%;
    height: 100%;
    font-size: 20px;
    border: none;
    background-color: rgb(75, 75, 75);
    color: white;
    transition-duration: 0.3s;
}
.leftBtn{
    border-bottom-left-radius: 30px;
}
.leftBtn:hover, 
.CenterBtn:hover{
    background-color: rgb(111, 111, 111);
}


.vk, .inst, .tg, .youTube{
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    border: 2px solid transparent;
    transition-duration: 0.3s;
    background-size: cover;
}
.vk{
    background-image: url("/src/assets/header/vk.jpg");
}
.inst{
    background-image: url("/src/assets/header/inst.jpg");
    background-size: 160%;
    background-position: center;
}
.tg{
    background-image: url("/src/assets/header/tg.jpg");
    background-size: 200%;
    background-position: center;
}
.youTube{
    background-image: url("/src/assets/header/youTube.jpg");
    background-size: 200%;
    background-position: center;
}
.vk:hover,
.inst:hover,
.tg:hover,
.youTube:hover{
    border: 2px solid white;
}


.windowVisible{
    width: 400px;
    height: 90%;
    position: fixed;
    right: -410px;
    top: 50%;
    transform: translatey(-50%);
    background-color: #333333;
    z-index: 1;
    border-radius: 30px;
    transition-duration: 1s;
}
.windowNotVisible{
    width: 400px;
    height: 90%;
    position: fixed;
    right: 30px;
    top: 50%;
    transform: translatey(-50%);
    background-color: #333333;
    z-index: 1;
    border-radius: 30px;
    transition-duration: 1s;
}
.socials{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #4a4a4a;
}
.btnBox{
    width: 100%;
    height: auto;
}
.chapter, .chapterBack{
    width: 90%;
    height: 70px;
    font-size: 20px;
    border: none;
    background-color: #4a4a4a;
    color: white;
    border-radius: 30px;
    display: block;
    margin: 30px auto;
    transition-duration: 0.3s;
}
.chapterBack{
 margin-top: 50px; 
 font-size: 25px;  
}
.chapter:hover{
    background-color: rgb(111, 111, 111);
}


.mainMan{
    width: 100%;
    height: auto;
    position: absolute;
    /* top: -500px; */
}











@media (max-width: 1400px) {
    .leftBox{
        width: 75%;
    }
    .rightBox{
        width: 25%;
    }
}


@media (max-width: 1100px) {
    .menu{
        display: none;
    }
    .btnMenu h1{
        display: flex;
    }
    .wrapper{
        height: 90px;
    }
    .btnMenu{
        display: flex;
    }
    .box{
        height: 100%;
        justify-content: space-between;
    }
}


@media (max-width: 768px) {
    .wrapper{
        width: 100%;
    }
    .windowNotVisible{
        width: 85%;
    }

}


@media (max-width: 500px) {
    .windowNotVisible{
        right: -1px;
    }
    .name{
        font-size: 35px;
    }
}


@media (max-width: 400px) {
    .name{
        font-size: 30px;
    }
    .btnMenu{
        width: 45px;
        height: 45px;
    }
}


@media (max-height: 700px) {
    .chapter{
        margin: 20px auto;
        height: 60px;
    }
    .chapterBack{
        margin-top: 40px;
        height: 60px;
    }
}


@media (max-height: 600px) {
    .chapter{
        margin: 10px auto;
    }
    .chapterBack{
        margin-top: 20px;
    }
}


@media (max-height: 530px) {
    .chapter{
        height: 50px;

    }
    .chapterBack{
        height: 50px;
    }
}