main{
    width: 90%;
    height: auto;
    margin: 0 auto;
    position: relative;
}

.name{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 30px;
}

.tShirts{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}





.windowVis, .windowNotVis{
    width: 90%;
    height: 90%;
    background-color: #4B4B4B;
    border-radius: 30px;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-duration: 700ms;
    display: flex;
}

.windowNotVis{
    opacity: 0;
    pointer-events: none;
}

.windowFoto{
    /* width: 100%; */
    height: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}


.windowLinkerFull{
    flex: 1;
    width: 20%;
    z-index: 100;
}


.windowBox{
    padding: 20px;
    transition-duration: 1s;
}
.windowBoxNotVis{
    transition-duration: 500ms;
    transform: scale(0.5);
    opacity: 0;
    pointer-events: none;
}


.windowFormNotVis{
    width: 100%;
    height: 100%;
    transform: scale(0.5);
    transition-duration: 1s;
    pointer-events: none;
    opacity: 0;
}
.windowForm{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transform: scale(1);
    transition-duration: 1s;

}


.windowName{
    font-size: 40px;
    margin-right: 35px;
    color: white;
}
.SizePrice{
    min-width: 130px;
    height: 76px;
    font-size: 30px;
    color: white;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.windowScroll{
    width: 100%;
    height: auto;
    max-height: 200px;
    position: relative;
}
.windowBlock{
    width: 100%;
    height: 100%;
    max-height: 200px;
    overflow-y: auto;
}
.windowShadow{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15px;
    background: linear-gradient(to top, rgba(169, 169, 169, 1), rgba(255, 255, 255, 0)); /* Градиент от темно-серого к прозрачному */
}


.windowDescription{
    /* width: 100px; */
    color: white;
    font-size: 23px;
    margin: 10px 0 10px 0;
}


.windowBack{
    width: 40px;
    height: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.boxBtn{
    width: 50%;
    height: 35px;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    background-color: grey;
}



.windowSize{
    width: 100%;
    height: auto;
    display: flex;
}
.windowLinker, .windowLinkerBorder, .windowLinkerMobul, .windowLinkerBorderMobul, .windowLinkerMobul2, .windowLinkerBorderMobul2{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    border: 3px solid transparent;
}
.windowLinkerBorder, .windowLinkerBorderMobul, .windowLinkerBorderMobul2{
    border: 3px solid red;
    border-radius: 30px;
}
.windowLinkerMobul2, .windowLinkerBorderMobul2{
    display: none;
}
.windowLinkerMobul, .windowLinkerBorderMobul{
    width: auto;
    height: 80px;
    display: flex;
    align-items: center;
}
.SizeBlockSize, .SizeBlockSizeBorder{
    width: 50px;
    height: 50px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    border: 3px solid transparent;
    transition-duration: 300ms;
}
.SizeBlockSizeBorder{
    border: 3px solid white;
}



.windowNone{
    display: none;
    pointer-events: none;
}


.windowFormBtn, .windowFormBtnMobul{
    width: 200px;
    height: 60px;
    background-color: grey;
    border-radius: 30px;
    color: white;
    font-size: 25px;
    border: 1px solid white;
    margin-top: 20px;
}
.windowFormBtnMobul{
    display: none;
    justify-content: center;
    align-items: center;
}

.linkerFoto{
    width: auto;
    height: 100%;
}
.linkerFotoSize{
    width: 100%;
    height: 20%;
    margin-top: -4px;
    display: none;
}

/* #main{
    position: relative;
} */
 .windowBacsMobule{
    display: none;
 }


 .final{
    width: 45%;
    height: 50px;
    background-color: grey;
    border: 2px solid white;
    font-size: 25px;
    border-radius: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
 }




@media (max-width: 1000px) {
    .windowFoto{
        height: 80%;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 0;
    }

    .windowLinker, .windowLinkerBorder, .windowFormBtn{
        display: none;
    }

    .linkerFotoSize, .windowFormBtnMobul{
        display: flex;
    }
    .windowBox{
        padding: 10px;
        transition-duration: 1s;
    }
}


@media (max-width: 830px) {
    .linkerFoto{
        width: auto;
    }
    .windowFoto{
        height: 60%;
    }
    .linkerFotoSize{
        height: auto;
    }
    .windowLinkerMobul, .windowLinkerBorderMobul{
        width: 250px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}


@media (max-width: 750px) {
    .windowVis, .windowNotVis{
        width: 90%;
        height: 90%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition-duration: 700ms;
        display: flex;
        overflow-y: auto;
    }
    .linkerFoto{
        width: 100%;
    }
    .windowFoto{
        width: 100%;
        height: auto;
        position: relative;
    }
    .windowLinkerMobul, .windowLinkerBorderMobul{
        width: auto;
    }
    .windowLinkerFull{
        width: 100%;
        position: absolute;
        margin-top: 950px;
    }
    .windowBack{
        display: none;
    }
    .windowBacsMobule{
        width: 100%;
        height: 60px;
        background-color: grey;
        border: 1px solid white;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        color: white;
        margin-top: 30px;
     }
     .windowLinkerMobul, .windowLinkerBorderMobul{
        display: none;
    }
     .windowLinkerMobul2, .windowLinkerBorderMobul2{
        display: flex;
    }
}


@media (max-width: 720px) {
    .windowLinkerFull{
        margin-top: 900px;
    }
}


@media (max-width: 680px) {
    .windowLinkerFull{
        margin-top: 850px;
    }
}


@media (max-width: 640px) {
    .windowLinkerFull{
        margin-top: 800px;
    }
}


@media (max-width: 600px) {
    .windowLinkerFull{
        margin-top: 750px;
    }
}


@media (max-width: 560px) {
    .windowLinkerFull{
        margin-top: 690px;
    }
}


@media (max-width: 520px) {
    .windowLinkerFull{
        margin-top: 650px;
    }
}


@media (max-width: 480px) {
    .windowLinkerFull{
        margin-top: 600px;
    }
}


@media (max-width: 440px) {
    .windowLinkerFull{
        margin-top: 550px;
    }
}


@media (max-width: 400px) {
    .windowLinkerFull{
        margin-top: 500px;
    }
}


@media (max-width: 370px) {
    .windowLinkerFull{
        margin-top: 460px;
    }
}


@media (max-width: 340px) {
    .windowLinkerFull{
        margin-top: 420px;
    }
}


@media (max-width: 320px) {
    .windowLinkerFull{
        margin-top: 400px;
    }
}