main{
    width: 90%;
    height: auto;
    margin: 0 auto;
    position: relative;
}

.name{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 30px;
}

.boxCard{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.boxBtn{
    width: 50%;
    height: 35px;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    background-color: grey;
}


.winVis, .winNotVis{
    width: 90%;
    height: 90%;
    position: fixed;
    border-radius: 30px;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-duration: 1s;
}
.winNotVis{
    opacity: 0;
    pointer-events: none;
}

.winVisBack{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
}

.winVisBackMobule{
    width: 100%;
    height: 50px;
    margin-top: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: linear-gradient(to right, #b8b8b8, #8e8e8e, #b8b8b8);
    font-size: 25px;
    color: white;
}





@media (max-width: 800px) {
    .winVisBack{
        display: none;
    }

    .winVisBackMobule{
        display: flex;
    }
}

@media (max-width: 768px) {
    main{
        width: 100%;
    }
}

@media (max-width: 350px) {
    .winVis, .winNotVis{
        width: 100%;
        height: 100%;

        position: fixed;
        border-radius: 30px;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition-duration: 1s;
    }
}
