.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%; /* Или укажите конкретную ширину */
}

.leftArrow, .rightArrow{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 10;
}
.leftArrow {
  left: 10px;
}
.rightArrow {
  right: 10px;
}


.Content {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 0 40px; /* Дополнительное пространство для стрелок */
}

.item {
  width: 200px;
  aspect-ratio: 1 / 1;
  flex: 0 0 auto;
  margin: 0 10px;
  background: #f0f0f0;
  padding: 20px;
  border: 1px solid #ddd;
}








